{% extends "base.html" %}
{% load static %}
{% block titulo %}
Login | {{ block.super }}
{% endblock %}
{% block conteudo %}

<div class="alert alert-danger">
<p>Usuário ou senha inválida. Tente novamente.</p>
</div>



<h1	class="centered">Autenticação</h1><br/>
<hr/>
<div class="container">
	<div class="row mt">
		<form action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<p>Login:<input type="text"	name="login"/></p>
			<p>Senha:<input	type="password" name="senha"/></p>
			<p><input type="submit"	value="Enviar"/></p>
		</form>
	</div>
</div>
{% endblock %}